.nav {
    display: flex;
    justify-content: flex-end;
}

.nav p {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    transition: all ease-in-out;
    /* transition: all 0.2s ease-in-out; */
    /*obrazovka se po najeti mysi na signout trepe! musel jsem 0.2s vymazat*/
}

.nav p:hover {
    cursor: pointer;
    transform: scale(1.05);
    font-weight: bold;
}